.isNotActive {
  background-color: #F0F1FA;
  color: #4F5AED;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}

.isActive {
  background-color: #E1FCEF;
  color: #14804A;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}
