@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
  50: #e9f7e6,
  100: #c5e3bd,
  200: #9fd899,
  300: #79c475,
  400: #5fb85e,
  500: #53851E,
  600: #4a7b1a,
  700: #426f16,
  800: #396512,
  900: #295c0b,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$secondary-palette: (
  50: #f2faf0,
  100: #d4f4d4,
  200: #b3eed8,
  300: #92e9bc,
  400: #7de5ac,
  500: #73B72A,
  600: #67a024,
  700: #598b1e,
  800: #4b7518,
  900: #365c0f,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$theme: mat.define-light-theme(
    (
      color: (
        primary: mat.define-palette($primary-palette),
        accent: mat.define-palette($secondary-palette),
      ),
      typography: mat.define-typography-config(),
      density: 0,
    )
);

@include mat.all-component-themes($theme);
