.flex-container {
  display: flex;
  align-items: center;
  p{
    max-width: 500px;
  }
}
.refCompany {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  width: 100%; 
}

.refCompany button {
  width: 100%; 
  padding: 10px 20px; 
  box-sizing: border-box;
}


