<div class="header row">
  <h1 mat-dialog-title>{{ 'companyDialog.title' | translate }}</h1>
  @if (userId) {
    <button (click)="delete()" color="warn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  }
</div>

<mat-dialog-content>
  <form [formGroup]="form" class="col">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
      <mat-error *ngIf="form.controls.email.invalid">{{ 'formErrors.required' | translate }}</mat-error>
      <!-- TODO Show correct formError -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput>
      <mat-error *ngIf="form.controls.email.invalid">{{ 'formErrors.required' | translate }}</mat-error>
      <!-- TODO Show correct formError -->
    </mat-form-field>

    <ng-select
      [items]="academicPrograms"
      appendTo="body"
      bindLabel="keyName"
      formControlName="academicProgram"
    ></ng-select>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'generic.cancel' | translate }}</button>
  <button (click)="save()" [disabled]="this.userId!! || form.invalid" class="primary-button" mat-button
          type="submit">{{ 'generic.save' | translate }}
  </button>
</mat-dialog-actions>

