<div class="header row">
  <h1 mat-dialog-title>{{ (multiple ? 'companyDialog.multipleTitle' : 'companyDialog.title') | translate }}</h1>
  @if (userId) {
    <button (click)="delete()" color="warn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  }
</div>

<mat-dialog-content>
  @if (isLoading) {
    <mat-spinner></mat-spinner>
  } @else {
    <form [formGroup]="form" class="col">

      @if (multiple) {
        <input #fileInput (change)="onFileSelect($event)" accept=".xlsx, .csv" style="display: none;" type="file">
        <button (click)="fileInput.click()" class="primary-button" mat-flat-button>
          <mat-icon>file_upload</mat-icon>
          <!-- TODO If filename to long fix design-->
          {{ fileName ? fileName : ('companyDialog.button.import' | translate) }}
        </button>
      } @else {
        <mat-form-field>
          <mat-label>{{ 'companyDialog.email' | translate }}</mat-label>
          <input formControlName="email" matInput>
          <mat-error *ngIf="form.controls.email.invalid">{{ 'formErrors.required' | translate }}</mat-error>
          <!-- TODO Show correct formError -->
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'companyDialog.name' | translate }}</mat-label>
          <input formControlName="name" matInput>
          <mat-error *ngIf="form.controls.email.invalid">{{ 'formErrors.required' | translate }}</mat-error>
          <!-- TODO Show correct formError -->
        </mat-form-field>
      }

      <!-- TODO Maybe set inital value because it is required-->
      <ng-select
        class="no-cursor-input"
        [clearable]="false"
        [items]="academicPrograms"
        appendTo="body"
        bindLabel="keyName"
        formControlName="academicProgram"
      ></ng-select>

    </form>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="isLoading" color="warn" mat-button mat-dialog-close>{{ 'generic.cancel' | translate }}</button>
  <button (click)="save()" [disabled]="userId!! || form.invalid || isLoading" class="primary-button"
          mat-button
          type="submit">{{ 'generic.save' | translate }}
  </button>
</mat-dialog-actions>

