<div class="wrapper">


  <div class="top-right-wave">
    <svg fill="none" height="722" viewBox="0 0 864 722" width="864" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M257 140C121.4 152.8 29.1667 52 0 0L864 3.5V721.5H767.5C468.7 683.5 519 532 581.5 461C618 411.167 684 291.1 656 209.5C621 107.5 426.5 124 257 140Z"
        fill="#73B72A"/>
    </svg>
  </div>
  <div class="headline">
    <div class="logo">
      <img src="assets/images/logo/dual_dating_logo_neu.png">
    </div>
    <div class="name">
      <p>{{ 'loginPage.title' | translate }} </p>
    </div>
  </div>

  <div class="bottom-left-circle">
    <svg width="199" height="167" viewBox="0 0 199 167" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="-20" cy="219" r="219" fill="#73B72A"/>
    </svg>
  </div>
  <div class="form-circle">
    <div class="form-wrapper">
      <form [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>{{ 'loginPage.email' | translate }}</mat-label>
          <input formControlName="email" matInput type="email">
          <mat-error *ngIf="loginForm.controls.email.invalid">{{ 'formErrors.requiredMail' | translate }}</mat-error>
          <!-- TODO Show correct formError -->
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'loginPage.password' | translate }}</mat-label>
          <input formControlName="password" matInput type="password">
          <mat-error *ngIf="loginForm.controls.password.invalid">{{ 'formErrors.requiredPassword' | translate }}</mat-error>
          <!-- TODO Show correct formError -->
        </mat-form-field>
        <button (click)="save()" class="primary-button"
                mat-button
                type="submit">{{ 'loginPage.login' | translate }}
        </button>
        <mat-error *ngIf="formError">{{ formError }}</mat-error>
      </form>
    </div>
  </div>
</div>

