.wrapper {
  width: 100vw;
  height: 100vh;


  .headline {
    display: flex;
    padding-top: 24px;

    .logo {
      padding-left: 59px;
    }

    .name {
      font-size: 50px;
      font-weight: bold;
      color: black;
    }
  }

  .top-right-wave {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      width: auto;
      max-width: 52%;
      max-height: 70%;
      height: auto;

    }
  }

  .bottom-left-circle {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 0;

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      height: auto;
      width: auto;

      &.out {
        max-width: 15%;
        max-height: 33%;
      }

      &.in {
        max-width: 12%;
        max-height: 28%;
      }
    }
  }

  .form-circle {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .form-wrapper {
      position: relative;
      height: 100%;

      form {
        display: flex;
        flex-flow: column;
        height: 75%;
        justify-content: end;

        mat-form-field {
          width: 75%;
          align-self: center;
        }

        button {
          margin-top: 60px;
          width: 75%;
          align-self: center;
          height: 45px;
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
        }
      }

      .forgot {
        text-align: center;

        a {
          font-size: 16px;
        }
      }

    }
  }
}

body {
  margin: unset;
}
