.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #53851E;
  .headline{
    display: flex;
    padding-top: 24px;
    .logo{
      padding-left: 59px;
    }
    .name{
      font-size: 50px;
      padding-left: 77px;
      font-weight: bold;
      color: white;
    }
  }

  .top-right-wave{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    svg{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      width: auto;
      max-width: 52%;
      max-height: 70%;
      height: auto;

    }
  }
  .bottom-left-circle{
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 0;
    svg{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      height: auto;
      width: auto;
      &.out{
        max-width: 15%;
        max-height: 33%;
      }
      &.in{
        max-width: 12%;
        max-height: 28%;
      }
    }
  }
  .form-circle{
    position: absolute;
    background-color: #73B72A;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .form-wrapper{
      position: relative;
      height: 100%;
      form{
        display: flex;
        flex-flow: column;
        height: 75%;
        justify-content: end;
        input{
          background-color: transparent;
          color: black;
          width: 75%;
          align-self: center;
          height: 45px;
          border-radius: 10px;
          border-color: black;
          border: 1px solid ;
          box-sizing: border-box;
          padding-left:60px;
          &#password{
            margin-top: 25px;
            background: url(/../assets/images/sperren.png) no-repeat scroll 7px 7px;
          }
          &#username{
            background: url(/../assets/images/profil.png) no-repeat scroll 7px 7px;
          }
          &::placeholder{
            color: black;
            //padding-left: 10px;
          }
        }
        button{
          margin-top: 60px;
          width: 75%;
          border: unset;
          align-self: center;
          height: 45px;
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
          border-radius: 20px;
          color: var(--primary-color-buttons);
        }
      }
      .forgot{
        text-align: center;
        a{
          font-size: 16px;
        }
      }

    }
  }
}

body{
  margin: unset;
}
