<app-headernavigation></app-headernavigation>
@if (isLoading) {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <form [formGroup]="form" class="company-form" (ngSubmit)="updateCompany()">
    <div class="form-group company-logo">
      @if (logoSrc) {
        <img [src]="logoSrc" alt="Company Logo" [style.opacity]="imageOpacity" (click)="toggleImage()">
        <input type="file" #fileInput (change)="onFileSelect($event, true)"
               accept=".jpeg, .jpg, .png" style="display: none;">
        @if (showUploadButton && !isAdmin) {
          <button mat-flat-button class="primary-button" (click)="fileInput.click()">
            <mat-icon>file_upload</mat-icon>
            {{ 'companyProfilePage.button.pictureReload' | translate }}
          </button>
          <button mat-raised-button color="warn"
                  (click)="deleteImage(true)">{{ 'companyProfilePage.button.deleteImage' | translate }}
          </button>
        }

      } @else {
        @if(!isAdmin){
          <input type="file" #fileInput (change)="onFileSelect($event, true)" accept=".jpeg, .jpg, .png" style="display: none;">
          <button mat-flat-button class="primary-button" (click)="fileInput.click()">
            <mat-icon>file_upload</mat-icon>
            {{ 'companyProfilePage.button.pictureUpload' | translate }}
          </button>
        }
      }
    </div>
    <div class="form-group company-name">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.name' | translate }}</mat-label>
        <input matInput id="name" type="text" formControlName="name">
        <mat-error
          *ngIf="form.controls.name.invalid">{{ getFormControlErrors(form.controls.name) | translate }}
        </mat-error>
      </mat-form-field>

    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.description' | translate }}</mat-label>
        <textarea matInput id="shortDescription" formControlName="shortDescription"></textarea>
        <mat-error
          *ngIf="form.controls.shortDescription.invalid">{{ getFormControlErrors(form.controls.shortDescription) | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.branche' | translate }}</mat-label>
        <input matInput id="industry" formControlName="industry">
        <mat-error
          *ngIf="form.controls.industry.invalid">{{ getFormControlErrors(form.controls.industry) | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.website' | translate }}</mat-label>
        <input matInput id="website" type="url" formControlName="website">
        <mat-error
          *ngIf="form.controls.website.invalid">{{ getFormControlErrors(form.controls.website) | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.location' | translate }}</mat-label>
        <input matInput id="location" formControlName="addresses">
        <mat-error
          *ngIf="form.controls.addresses.invalid">{{ getFormControlErrors(form.controls.addresses) | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.descriptionJob' | translate }}</mat-label>
        <textarea matInput id="jobDescription" formControlName="jobDescription"></textarea>
        <mat-error
          *ngIf="form.controls.jobDescription.invalid">{{ getFormControlErrors(form.controls.jobDescription) | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <h3>{{ 'companyProfilePage.label.activities' | translate }}</h3>
    <p>{{ 'companyProfilePage.label.activitesDescription' | translate }}</p>
    <div class="form-group test">
      <div class="activities-list" formArrayName="activities">
        @for (activity of activities.controls; track $index) {
          <div class="activity-item" [formGroupName]="$index">
            <label>{{ activity.value.name }}</label>
            <mat-form-field class="exclude-width">
              @if (isAdmin) {
                <input readonly matInput type="number" placeholder="{{ activity.value }}"
                formControlName="value" min="0" max="5" >
              }@else{
                <input matInput type="number" placeholder="{{ activity.value }}"
                formControlName="value" min="0" max="5" >
              }
              <mat-error
                *ngIf="activity.invalid">{{ getFormControlErrors(activity) | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        }
      </div>
    </div>

    <div class="form-group company-logo">
      @if (teamPictureSrc) {
        <img [src]="teamPictureSrc" alt="TeamPicture Logo" [style.opacity]="imageOpacity" (click)="toggleImage()">
        <input type="file" #fileInput (change)="onFileSelect($event, false)" maxsize="1000"
               accept=".jpeg, .jpg, .png" style="display: none;">
        @if (showUploadButton) {
          <button mat-flat-button class="primary-button" (click)="fileInput.click()">
            <mat-icon>file_upload</mat-icon>
            {{ 'companyProfilePage.button.teampictureReload' | translate }}
          </button>
          <button mat-raised-button color="warn"
                  (click)="deleteImage(false)">{{ 'companyProfilePage.button.deleteImage' | translate }}
          </button>
        }

      } @else {
        @if (!isAdmin) {
          <input type="file" #fileInput (change)="onFileSelect($event, false)" accept=".jpeg, .jpg, .png" style="display: none;">
          <button mat-flat-button class="primary-button" (click)="fileInput.click()">
            <mat-icon>file_upload</mat-icon>
            {{ 'companyProfilePage.button.teampictureUpload' | translate }}
          </button>
        }
      }
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.contactPersonCompany' | translate }}</mat-label>
        <input matInput id="contactPersonInCompany" formControlName="contactPersonInCompany">
        <mat-error
          *ngIf="form.controls.contactPersonInCompany.invalid">{{ getFormControlErrors(form.controls.contactPersonInCompany) | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.contactPersonHRM' | translate }}</mat-label>
        <input matInput id="contactPersonHRM" formControlName="contactPersonHRM">
        <mat-error
          *ngIf="form.controls.contactPersonHRM.invalid">{{ getFormControlErrors(form.controls.contactPersonHRM) | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <h3>{{ 'companyProfilePage.label.trainerHeadline' | translate }}</h3>
    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.trainerName' | translate }}</mat-label>
        <input matInput id="trainer" formControlName="trainer">
        <mat-error
          *ngIf="form.controls.trainer.invalid">{{ getFormControlErrors(form.controls.trainer) | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.education' | translate }}</mat-label>
        <input matInput id="trainerTraining" formControlName="trainerTraining">
        <mat-error
          *ngIf="form.controls.trainerTraining.invalid">{{ getFormControlErrors(form.controls.trainerTraining) | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.experience' | translate }}</mat-label>
        <input matInput id="trainerProfessionalExperience" formControlName="trainerProfessionalExperience">
        <mat-error
          *ngIf="form.controls.trainerProfessionalExperience.invalid">{{ getFormControlErrors(form.controls.trainerProfessionalExperience) | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>{{ 'companyProfilePage.label.currentPosition' | translate }}</mat-label>
        <input matInput id="trainerPosition" formControlName="trainerPosition">
        <mat-error
          *ngIf="form.controls.trainerPosition.invalid">{{ getFormControlErrors(form.controls.trainerPosition) | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <button mat-raised-button color="warn"
              (click)="openConfirmationDialog()"
              type="button"
              [disabled]="!status">{{ 'companyProfilePage.button.statusInaktiv' | translate }}
      </button>
      @if(!isAdmin){
        <button mat-raised-button type="submit" color="primary">{{ 'companyProfilePage.button.speichern' | translate }}
        </button>
      }
    </div>
  </form>
}
