.company-form{
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    mat-form-field {
        width: 50%;
    }
    textarea{
        height: 200px;
    }
    .company-logo{
        img{
            cursor: pointer;
            max-width: 300px;
        }
        input, button{
            align-self: center;
        }
        
    }
    .company-name{
        display: flex;
        gap: 20px;
    }
    .form-group{
        display: flex;
        justify-content: center;
    }
    h3, p{
        align-self: center;
    }
    p{
        margin-bottom: 40px;
    }
    
    .activities-list{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        .activity-item{
            display: flex;
            align-items: baseline;
            gap: 100px;
            label{
                min-width: 275px;
            }
            .exclude-width{
                width: 59px;
            }
        }
    }
    button:last-child{
        margin-left: 30px;
    }
       
}


 
p{
    max-width: 1000px;
}