<div class="header row">
  <h1 mat-dialog-title>{{ (multiple ? 'studentDialog.multipleTitle' : 'studentDialog.title') | translate }}</h1>
  @if (userId) {
    <button (click)="delete()" color="warn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  }
</div>

<mat-dialog-content>
  @if (isLoading) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <form [formGroup]="form" class="col">

      @if (multiple) {
        <span class="flex-container">
          <mat-icon>info</mat-icon>
          <p>
            {{ 'studentDialog.import.info' | translate }}
          </p>
        </span>
        <input #fileInput (change)="onFileSelect($event)" accept=".xlsx, .csv" style="display: none;" type="file">
        <button (click)="fileInput.click()" class="primary-button" mat-flat-button>
          <mat-icon>file_upload</mat-icon>
          {{ fileName ? fileName : ('studentDialog.button.import' | translate) }}
        </button>
      } @else {
        <mat-form-field>
          <mat-label>{{ 'studentDialog.email' | translate }}</mat-label>
          <input formControlName="email" matInput>
          <mat-error *ngIf="form.controls.email.invalid">
            {{ getFormControlErrors(form.controls.email) | translate }}
          </mat-error>
        </mat-form-field>
      }
      <ng-select
        class="no-cursor-input"
        [clearable]="false"
        [items]="academicPrograms"
        appendTo="body"
        bindLabel="keyName"
        formControlName="academicProgram"
        placeholder="{{ 'filter.academicPrograms' | translate }}"
      ></ng-select>

    </form>

  }
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="isLoading" color="warn" mat-button mat-dialog-close>{{ 'generic.cancel' | translate }}</button>
  <button (click)="save()" [disabled]="userId!! || form.invalid || isLoading" class="primary-button"
          mat-button
          type="submit">{{ 'generic.save' | translate }}
  </button>
</mat-dialog-actions>

