.change-password-headline{

}
.change-password-wrapper{
  .col{
    .now-pass, .new-pass, .rep-new-pass{
      min-width: 250px;
    }
  }
  padding-bottom: 10px;
}
.change-password-buttons{
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px;
  .save-button{
    margin-top: 0;
    margin-bottom: 0;
  }
}
