<h1 mat-dialog-title>{{ 'changePasswordDialog.title' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="col">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'changePasswordDialog.currentPassword' | translate }}</mat-label>
      <input formControlName="currentPassword" matInput required type="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'changePasswordDialog.newPassword' | translate }}</mat-label>
      <input formControlName="newPassword" matInput required type="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'changePasswordDialog.repeatNewPassword' | translate }}</mat-label>
      <input formControlName="confirmPassword" matInput required type="password">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="onCancel()" mat-button>{{ 'changePasswordDialog.continueWithoutChanging' | translate }}</button>
  <button (click)="save()" mat-button>{{ 'generic.save' | translate }}</button>
</div>
