<h1 mat-dialog-title>{{ 'changePasswordDialog.title' | translate }}</h1>
<div mat-dialog-content>
  @if (isLoading) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <form [formGroup]="form" class="col">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'changePasswordDialog.currentPassword' | translate }}</mat-label>
        <input formControlName="currentPassword" matInput required type="password">
        <mat-error *ngIf="form.controls.currentPassword.invalid">{{ 'formErrors.required' | translate }}</mat-error>
        <!-- TODO Show correct formError -->
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'changePasswordDialog.newPassword' | translate }}</mat-label>
        <input formControlName="newPassword" matInput required type="password">
        <mat-error *ngIf="form.controls.newPassword.invalid">{{ 'formErrors.required' | translate }}</mat-error>
        <!-- TODO Show correct formError -->
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'changePasswordDialog.repeatNewPassword' | translate }}</mat-label>
        <input formControlName="confirmPassword" matInput required type="password">
        <mat-error *ngIf="form.controls.confirmPassword.invalid">{{ 'formErrors.required' | translate }}</mat-error>
        <!-- TODO Show correct formError -->
      </mat-form-field>
      <!-- TODO Show password missmatch Error -->
    </form>
  }
</div>
<div mat-dialog-actions>
  <button (click)="onCancel()" [disabled]="isLoading"
          mat-button>{{ (isNewDialog ? 'changePasswordDialog.continueWithoutChanging' : 'generic.cancel') | translate }}
  </button>
  <button (click)="save()" [disabled]="isLoading" class="primary-button" mat-button>{{ 'generic.save' | translate }}
  </button>
</div>
