<nav>
  <div class="headerContainer">
    <img alt="Dual Dating Logo" src="assets/images/logo/dual_dating_logo_neu.png" [routerLink]="logoLink.path">
    <div class="headerHeadlineContainer">
      <h1>Dual Job Dating</h1>
      <h2>{{ currentPage }}</h2>
    </div>

  </div>
  <div class="navigationContainer">
    @for (link of navLinks; track $index) {
      <a [routerLink]="link.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        {{ link.label }}
      </a>
    }
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon class="account-icon">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>{{ 'navigation.logout' | translate }}</span>
      </button>
      <button (click)="openChangePasswordDialog()" mat-menu-item>
        <mat-icon>password</mat-icon>
        <span>{{ 'navigation.changePassword' | translate }}</span>
      </button>
    </mat-menu>    <mat-menu #menu="matMenu">
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>{{ 'navigation.logout' | translate }}</span>
      </button>
      <button (click)="openChangePasswordDialog()" mat-menu-item>
        <mat-icon>password</mat-icon>
        <span>{{ 'navigation.changePassword' | translate }}</span>
      </button>
    </mat-menu>
  </div>

</nav>
