<nav>
  <div class="headerContainer">
    <img alt="Dual Dating Logo" src="assets/images/logo/dual_dating_logo.png">
    <div class="headerHeadlineContainer">
      <h2>Dual Dating</h2>
      <!--<div>TODO: Komponente ?</div>-->
    </div>

  </div>
  <div class="navigationContainer">
    @for (link of navLinks; track $index) {
      <a [routerLink]="link.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        {{ link.label }}
      </a>
    }
  </div>
  <svg id="outerCircle" viewBox="0 -165 550 90">
    <path d="M 0,90 A 250,250 0 0 1 500,90 L 500,90 Z" fill="var(--secondary-color-buttons)"/>
  </svg>
  <svg id="innerCircle" viewBox="0 -200 800 100">
    <path d="M 0,90 A 250,250 0 0 1 500,90 L 500,90 Z" fill="var(--card-shadow)"/>
  </svg>

</nav>
