@use '@angular/material' as mat;
@import "@ng-select/ng-select/themes/default.theme.css";
@import "node_modules/angular-calendar/css/angular-calendar.css";
@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import "assets/style/theme";
@import "assets/style/const";

@font-face {
  font-family: 'Parka';
  src: url('/assets/font/Parka/Parka-Bold_sOT/ParkaBold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Parka';
  src: url('/assets/font/Parka/Parka-Medium_sOT/ParkaMedium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Parka';
  src: url('/assets/font/Parka/Parka-Regular_sOT/ParkaRegular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}


html, body {
  font-family: 'Parka', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

/* General Template */

:root {
  --primary-color-buttons: #53851E;
  --secondary-color-buttons: #73B72A;
  --primary-color-text-white: #F2F2F3;
  --secondary-color-text-black: #000000;
  --card-shadow: #CDECAC;
}

.success-snackbar {
  background-color: #4caf50;
}

.error-snackbar {
  background-color: #f44336;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
}

.no-cursor-input {
  .ng-select-container.ng-has-value {
    height: auto;

    .ng-value-container {
      padding-left: 0px !important;
    }
  }

  &.ng-select-disabled {
    .ng-select-container {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  input {
    caret-color: transparent;
    user-select: none;
  }
}

.search_bar {
  max-height: 44px;
  min-width: 125px;
  display: flex;
  align-items: center;
  border-radius: 4px;

  .mat-form-field-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }

  .mat-form-field-flex {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .mat-form-field-infix {
    height: 100%;
    display: flex;
    align-items: center;
  }

  input.mat-input-element {
    height: 100%;
    padding: 0 8px;
    box-sizing: border-box;
  }

  .mat-form-field-underline,
  .mat-form-field-ripple {
    display: none;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  .mdc-line-ripple {
    display: none;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.side-dialog-container {
  max-width: 33vw;
  width: 33vw;
  height: 100vh;
  position: fixed !important;
  top: 0;
  right: 0;
}

.side-dialog-container, .dialog-container {

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-bottom: 0;
    }
  }

  mat-dialog-content {
    height: 100%;
    max-height: unset;

    form {
      mat-form-field {
        width: 100%;
      }

      ng-select {
        width: 100%;
      }
    }
  }

  mat-dialog-actions {
    padding-right: $padding-medium !important;
    margin-left: auto;
  }
}

.horizontal-spacer {
  margin-left: auto;
}

.primary-button {
  margin: $margin-medium 0;
  background-color: mat.get-color-from-palette($primary-palette, 500) !important;
  color: white !important;
  border-radius: 4px !important;

  &.mat-mdc-button-disabled {
    background-color: mat.get-color-from-palette($primary-palette, 100) !important;
  }
}

.warn-button {
  margin: $margin-medium 0;
  background-color: darkred !important;
  color: white !important;
  border-radius: 4px !important;
}

// Angular Components Styles

mat-form-field {
  .mat-mdc-text-field-wrapper {
    background-color: white !important;
    border: 1px solid mat.get-color-from-palette($primary-palette, 500) !important;
    border-radius: 4px !important;
  }
}

ng-select {

  min-width: 125px !important;

  .ng-placeholder {
    color: #999 !important;
  }

  .custom-ng-select.ng-touched.ng-dirty .ng-placeholder {
    color: #666 !important;
  }

  .ng-select-container {
    min-height: 44px !important;
    border: 1px solid mat.get-color-from-palette($primary-palette, 500) !important;
    border-radius: 4px !important;

    .ng-value-container {
      border-top: unset !important;

      .ng-placeholder,
      .ng-select-container .ng-value-container .ng-input input,
      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        // Options
      }

      .ng-value {
        background-color: mat.get-color-from-palette($primary-palette, 500) !important;
        border-radius: 4px !important;
        padding: $padding-small !important;
        margin: $margin-x-small $margin-small !important;
        color: white !important;
      }
    }
  }
}

.mat-mdc-row {
  &:hover {
    background-color: var(--card-shadow);
    cursor: pointer;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nodataImage {
  width: 100vw;
  display: flex;
  justify-content: center;
}

